<!DOCTYPE html>
<html>
<head>
  <title>Statens HR</title>
  <link rel="stylesheet" href="frontend.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
  <h1>Statens HR</h1> 
  <div class="user-profile-icon">
    <a href="brugerprofil.html">
    <i style='font-size:24px' class='fa'>&#xf406;</i>
    </a>
  </div>  
  <ul class="menu">
    <li class="menu-item"><a href="nyheder.html">Nyheder</a></li>
    <li class="menu-item"><a href="vejledninger.html">Vejledninger</a></li>
    <li class="menu-item"><a href="gaa-hjem-moder.html">Gå-hjem-møder</a></li>
    <li class="menu-item"><a href="serviceportal.html">Serviceportal</a></li>
  </ul>
  <p>Navn: John Doe</p>
  <p>Email: JD@oes.dk</p>
  <p>Rolle: Slutbruger</p>
  <p></p>


 
  <link rel="stylesheet" type="text/css" href="style.css">
</body>
</html>